# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binaries
*.test
*.out

# Go workspace
go.work
go.work.sum

# IDEs/Editors
.idea/
.vscode/
*.swp
*.swo

# OS files
Thumbs.db
db.json
Desktop.ini
.DS_Store

# Local save game file
savegame.json
